<html>
    <head>
        <title>Kattalin's blog</title>
    </head>
    <body>
        <p>Hi there!</p>
        <p>Visit Mallorca!</p>
        <h1>VISIT MALLORCA!</h1>
        <h2>Come and visit the most beautiful island in the world!</h2>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
        <a href="https://www.lonelyplanet.com/spain/mallorca">More info about Mallorca</a>
    </body>
</html>
